<link rel="stylesheet" href="/drakon/styles/reset.css" />
<script src="/drakon/libs/drakonwidget.js"></script>

<div id="drakon-container"></div>
<script>
    DrakonWidget.create({
        element: document.getElementById("drakon-container"),
        diagram: { /* JSON для вашої діаграми */ },
        options: {
            editable: true
        }
    });
</script>