{% if metatags is defined and metatags.startsWith('https://') %}
  <iframe src="{{ metatags }}" width="100%" height="500px">
    <p>Ваш браузер не підтримує елемент iframe.</p>
  </iframe>
{% endif %}